
UnityIngameDebugConsole.sln

ProjectSettings/UnityConnectSettings.asset

ProjectSettings/AudioManager.asset

ProjectSettings/ClusterInputManager.asset

ProjectSettings/DynamicsManager.asset

ProjectSettings/EditorBuildSettings.asset

ProjectSettings/EditorSettings.asset

ProjectSettings/GraphicsSettings.asset

ProjectSettings/InputManager.asset

ProjectSettings/NavMeshAreas.asset

ProjectSettings/NetworkManager.asset

ProjectSettings/Physics2DSettings.asset

ProjectSettings/ProjectSettings.asset

ProjectSettings/UnityAdsSettings.asset

ProjectSettings/TimeManager.asset

ProjectSettings/TagManager.asset

ProjectSettings/QualitySettings.asset

ProjectSettings/ProjectVersion.txt

Assembly-CSharp-firstpass.csproj

UnityIngameDebugConsole.userprefs
